doctype 5
html
    head
        block scripts

            script(src='shared/namespace.js')
            script(src='shared/models/actor.js')
            script(src='shared/test-client.js')

    body
